<h4 style="text-align: center; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Madhu sudhan Reddy Tippana</h4>
<div class="container-fluid">
    <div class="edu">
        <table style="width: 100%;">
            <tr>
                <th>COLLEGE</th>
                <td>Matrix college</td>
            </tr>
            <tr>
                <th>PROGRAM</th>
                <td>Computer science techniques, Software testing</td>
            </tr>
            <tr>
                <th>DEGREE</th>
                <td>AEC</td>
            </tr>
            <tr>
                <th>YEAR</th>
                <td>Sep 2019 - Sep 2020</td>
            </tr>
            <tr>
                <th>STATUS</th>
                <td>Recently graduated</td>
            </tr>
        </table>
        <!-- <p>
            <span style="font-weight: 600;">COLLEGE : </span>
            <span style="color: blue;">Matrix college</span>
        </p>
        <p><span style="font-weight: 600;">PROGRAM : </span><span style="color: blue;">Computer science techniques, Software testing</span></p>
        <p><span style="font-weight: 600;">DEGREE : </span><span style="color: blue;">AEC</span></p>
        <p><span style="font-weight: 600;">YEAR : </span><span style="color: blue;">Sep 2019 - Sep 2020</span></p>
        <p><span style="font-weight: 600;">STATUS : </span><span style="color: blue;">Recently graduated</span></p> -->
    </div>
    <hr>
    <div class="edu">
        <table style="width: 100%;">
            <tr>
                <th>COLLEGE</th>
                <td>Cégep de la Gaspésie et des Iles</td>
            </tr>
            <tr>
                <th>PROGRAM</th>
                <td>Project management techniques</td>
            </tr>
            <tr>
                <th>DEGREE</th>
                <td>AEC</td>
            </tr>
            <tr>
                <th>YEAR</th>
                <td>Sep 2018 - July 2019</td>
            </tr>
            <tr>
                <th>STATUS</th>
                <td>Graduated</td>
            </tr>
        </table>
        <!-- <p><span style="font-weight: 600;">COLLEGE : </span><span style="color: blue;">Cégep de la Gaspésie et des Iles</span></p>
        <p><span style="font-weight: 600;">PROGRAM : </span><span style="color: blue;">Project management techniques</span></p>
        <p><span style="font-weight: 600;">DEGREE : </span><span style="color: blue;">AEC</span></p>
        <p><span style="font-weight: 600;">YEAR : </span><span style="color: blue;">Sep 2018 - July 2019</span></p>
        <p><span style="font-weight: 600;">STATUS : </span><span style="color: blue;">Graduated</span></p> -->
    </div>
    <hr>
    <div class="edu">
        <table style="width: 100%;">
            <tr>
                <th>COLLEGE</th>
                <td>BITS Pilani goa</td>
            </tr>
            <tr>
                <th>PROGRAM</th>
                <td>Electrical and Electronics Engineering</td>
            </tr>
            <tr>
                <th>DEGREE</th>
                <td>Bachelor's</td>
            </tr>
            <tr>
                <th>YEAR</th>
                <td>Aug 2012 - June 2016</td>
            </tr>
            <tr>
                <th>STATUS</th>
                <td>Graduated</td>
            </tr>
        </table>
        <!-- <p><span style="font-weight: 600;">COLLEGE : </span><span style="color: blue;">BITS Pilani goa</span></p>
        <p><span style="font-weight: 600;">PROGRAM : </span><span style="color: blue;">Electrical and Electronics Engineering</span></p>
        <p><span style="font-weight: 600;">DEGREE : </span><span style="color: blue;">Bachelor's</span></p>
        <p><span style="font-weight: 600;">YEAR : </span><span style="color: blue;">Aug 2012 - June 2016</span></p>
        <p><span style="font-weight: 600;">STATUS : </span><span style="color: blue;">Graduated</span></p> -->
    </div>
</div>