<!-- <p>
    Matrix College, Montreal, QC                                                          		    September 2020
AEC, Computer Science Technology                                                          
Cégep De la Gaspésie, Montreal, QC                                                                                  2019
AEC, Project Management Techniques
BITS Pilani, Goa, India                                                                                                         2016
Bachelor of Science, Electrical Engineering

</p> -->
<h3 style="text-align: center;">NAME: Madhu sudhan Reddy Tippana</h3>
<div class="container-fluid">
    <div class="row edu">
        <p><span style="font-weight: 600;">COLLEGE : </span><span style="color: blue;">Matrix college</span></p>
        <p><span style="font-weight: 600;">PROGRAM : </span><span style="color: blue;">Computer science techniques, Software testing</span></p>
        <p><span style="font-weight: 600;">DEGREE : </span><span style="color: blue;">AEC</span></p>
        <p><span style="font-weight: 600;">YEAR : </span><span style="color: blue;">Sep 2019 - Sep 2020</span></p>
        <p><span style="font-weight: 600;">STATUS : </span><span style="color: blue;">Recently graduated</span></p>
    </div>
    <div class="row edu">
        <p><span style="font-weight: 600;">COLLEGE : </span><span style="color: blue;">Cégep de la Gaspésie et des Iles</span></p>
        <p><span style="font-weight: 600;">PROGRAM : </span><span style="color: blue;">Project management techniques</span></p>
        <p><span style="font-weight: 600;">DEGREE : </span><span style="color: blue;">AEC</span></p>
        <p><span style="font-weight: 600;">YEAR : </span><span style="color: blue;">Sep 2018 - July 2019</span></p>
        <p><span style="font-weight: 600;">STATUS : </span><span style="color: blue;">Graduated</span></p>
    </div>
    <div class="row edu">
        <p><span style="font-weight: 600;">COLLEGE : </span><span style="color: blue;">BITS Pilani goa</span></p>
        <p><span style="font-weight: 600;">PROGRAM : </span><span style="color: blue;">Electrical and Electronics Engineering</span></p>
        <p><span style="font-weight: 600;">DEGREE : </span><span style="color: blue;">Bachelor's</span></p>
        <p><span style="font-weight: 600;">YEAR : </span><span style="color: blue;">Aug 2012 - June 2016</span></p>
        <p><span style="font-weight: 600;">STATUS : </span><span style="color: blue;">Graduated</span></p>
    </div>
</div>