.edu {
    text-align: center;
    border: 1px solid black;
    /* background-color:  rgb(111, 165, 167); */
    background-color: rgb(245, 245, 255);
    box-shadow: 5px 5px grey;
}

.name {
    text-align: center; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}