<div class="container-fluid projects">
    <div class="pro">
        <h3>OPEN SOURCE CONTRIBUTION</h3>
        <p>
            <span id="subHeading">PROJECT : </span>
            <span id="content">Human-Connection</span>
        </p>
        <p>
            <span id="subHeading">DESCRIPTION : </span>
            <span id="content">
                <ul>
                    <li>Added a user role change feature to admin.</li>
                    <li>Admin cannot change their role, but can change the roles of other users.</li>
                    <li>On the roles column, admin can click on the role of the user to get a dropdown window and select the role to assign to user.</li>
                    <li>All the roles in the dropdown window and users role is aquired dinamically.</li>
                    <li>After changing the role, the data will be sent to backend where it will be processed</li>
                </ul>
            </span>
        </p>
        <!-- <p>
            <span id="subHeading">GITHUB PAGES LINK : </span>
            <span id="content"><a href="https://github.com/tippanamadhusudan/Ocelot-Social" target="_blank">https://github.com/tippanamadhusudan/Ocelot-Social</a></span>
        </p> -->
        <p>
            <span id="subHeading">GITHUB LINK: </span>
            <span id="content"><a href="https://github.com/tippanamadhusudan/Ocelot-Social" target="_blank">https://github.com/tippanamadhusudan/Ocelot-Social</a></span>
        </p>
        <p>
            <span id="subHeading">LANGUAGES AND TOOLS USED : </span>
            <span id="content">
                <ul>
                    <li>Vue.js</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Hunam-Connection style guide</li>
                    <li>Apollo</li>
                </ul>
            </span>
        </p>
    </div>

    <hr>
    <div class="pro">
        <p>
            <span id="subHeading">PROJECT : </span>
            <span id="content">Budget web application</span>
        </p>
        <p>
            <span id="subHeading">DESCRIPTION : </span>
            <span id="content">
                <ul>
                    <li>This application calculates remaining budget based on the income and expenses entered.</li>
                    <li>Can calculate for every individual month</li>
                    <li>Can enter income or expense and delete them if needed.</li>
                    <li>The data will be saved in and retrived from the local browser.</li>
                </ul>
            </span>
        </p>
        <p>
            <span id="subHeading">GITHUB PAGES LINK : </span>
            <span id="content"><a href="https://tippanamadhusudan.github.io/BudgetApp/" target="_blank">https://tippanamadhusudan.github.io/BudgetApp/</a></span>
        </p>
        <p>
            <span id="subHeading">LINK TO CODE : </span>
            <span id="content"><a href="https://github.com/tippanamadhusudan/BudgetApp" target="_blank">https://github.com/tippanamadhusudan/BudgetApp</a></span>
        </p>
        <p>
            <span id="subHeading">LANGUAGES AND TOOLS USED : </span>
            <span id="content">
                <ul>
                    <li>JavaScript(ES6)</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>NPM</li>
                    <li>Babel</li>
                    <li>Webpack</li>
                </ul>
            </span>
        </p>
    </div>
    <hr>
    <div class="pro">
        <p>
            <span id="subHeading">PROJECT : </span>
            <span id="content">TIC-TAC-TOE</span>
        </p>
        <p>
            <span id="subHeading">DESCRIPTION : </span>
            <span id="content">
                <ul>
                    <li>This application a very populer game called TIC-TAC-TOE.</li>
                    <li>It is a 2 player game (Currently can only be played on a single device).</li>
                    <li>The game data will be saved in Firebase database.</li>
                    <li>Currently a simple game, I am trying to change it in to a game where a player can play with machine.</li>
                    <li>Planning to turn it into Real-time game too.</li>
                </ul>
            </span>
        </p>
        <p>
            <span id="subHeading">GITHUB PAGES LINK : </span>
            <span id="content"><a href="https://tippanamadhusudan.github.io/tic-tac-toe/" target="_blank">https://tippanamadhusudan.github.io/tic-tac-toe/</a></span>
        </p>
        <p>
            <span id="subHeading">LINK TO CODE : </span>
            <span id="content"><a href="https://github.com/tippanamadhusudan/tic-tac-toe" target="_blank">https://github.com/tippanamadhusudan/tic-tac-toe</a></span>
        </p>
        <p>
            <span id="subHeading">LANGUAGES AND TOOLS USED : </span>
            <span id="content">
                <ul>
                    <li>Angular</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap</li>
                    <li>Firebase</li>
                </ul>
            </span>
        </p>
    </div>
</div>
