<div class="container-fluid">
    <hr>
    <div class="row pro">
        <p>
            <span style="font-weight: 600;">PROJECT : </span>
            <span style="color: green;">Budget web application</span>
        </p>
        <p>
            <span style="font-weight: 600;">DESCRIPTION : </span>
            <span style="color: green;">
                <ul>
                    <li>This application calculates remaining budget based on the income and expenses entered.</li>
                    <li>Can calculate for every individual month</li>
                    <li>Can enter income or expense and delete them if needed.</li>
                    <li>The data will be saved in and retrived from the local browser.</li>
                </ul>
            </span>
        </p>
        <p>
            <span style="font-weight: 600;">GITHUB PAGES LINK : </span>
            <span style="color: green;"><a href="https://tippanamadhusudan.github.io/BudgetApp/">https://tippanamadhusudan.github.io/BudgetApp/</a></span>
        </p>
        <p>
            <span style="font-weight: 600;">LINK TO CODE : </span>
            <span style="color: green;"><a href="https://github.com/tippanamadhusudan/BudgetApp">https://github.com/tippanamadhusudan/BudgetApp</a></span>
        </p>
        <p>
            <span style="font-weight: 600;">LANGUAGES AND TOOLS USED : </span>
            <span style="color: green;">
                <ul>
                    <li>JavaScript(ES6)</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>NPM</li>
                    <li>Babel</li>
                    <li>Webpack</li>
                </ul>
            </span>
        </p>
    </div>
    <hr>
    <div class="row pro">
        <p>
            <span style="font-weight: 600;">PROJECT : </span>
            <span style="color: green;">TIC-TAC-TOE</span>
        </p>
        <p>
            <span style="font-weight: 600;">DESCRIPTION : </span>
            <span style="color: green;">
                <ul>
                    <li>This application a very populer game called TIC-TAC-TOE.</li>
                    <li>It is a 2 player game (Currently can only be played on a single device).</li>
                    <li>The game data will be saved in Firebase database.</li>
                    <li>Currently a simple game, I am trying to change it in to a game where a player can play with machine.</li>
                    <li>Planning to turn it into Real-time game too.</li>
                </ul>
            </span>
        </p>
        <p>
            <span style="font-weight: 600;">GITHUB PAGES LINK : </span>
            <span style="color: green;"><a href="https://tippanamadhusudan.github.io/tic-tac-toe/">https://tippanamadhusudan.github.io/tic-tac-toe/</a></span>
        </p>
        <p>
            <span style="font-weight: 600;">LINK TO CODE : </span>
            <span style="color: green;"><a href="https://github.com/tippanamadhusudan/tic-tac-toe">https://github.com/tippanamadhusudan/tic-tac-toe</a></span>
        </p>
        <p>
            <span style="font-weight: 600;">LANGUAGES AND TOOLS USED : </span>
            <span style="color: green;">
                <ul>
                    <li>Angular</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap</li>
                    <li>Firebase</li>
                </ul>
            </span>
        </p>
    </div>
</div>
