<div class="conatiner-fluid">
    <div class="row contact">
        <p>
            <span style="font-weight: 600;">FIRST NAME : </span>
            <span style="color: blue;">Madhu sudhan</span>
        </p>
        <p>
            <span style="font-weight: 600;">MIDDLE NAME : </span>
            <span style="color: blue;">Reddy</span>
        </p>
        <p>
            <span style="font-weight: 600;">LAST NAME : </span>
            <span style="color: blue;">Tippana</span>
        </p>
        <p>
            <span style="font-weight: 600;">EMAIL : </span>
            <span style="color: blue;"><a href="mailto:tippanamadhusudan@gmail.com">tippanamadhusudan@gmail.com</a></span>
        </p>
        <p>
            <span style="font-weight: 600;">PHONE NUMBER : </span>
            <span style="color: blue;"><a href="tel:+14389215644">+1 4389215644</a></span>
        </p>
        <p>
            <span style="font-weight: 600;">PLACE OF RESIDENCE : </span>
            <span style="color: blue;">Toronto, Canada</span>
        </p>
    </div>
</div>
