img {
    float: right;
    margin-left: 1%;
    padding-left: 1%;
    width: 40%;
    height: auto;
}

.d {
    overflow: auto;
    background-color: cadetblue;
    margin: 1%;
}
.details {
    color: cornsilk;
    padding-left: 1%;
}
