.introduction {
    background-color: rgb(79, 142, 145);
    overflow: auto;
}
img {
    width: 100%;
    height: auto;
}
.content {
    float: left;
    clear: left;
    width: 60%;
    padding: 0.5%;
    /* background-color: cadetblue; */
    font-family: Arial, Helvetica, sans-serif;
}
.img {
    float: right;
    clear: right;
    width: 39%;
}
.introduction::after {
    content: '';
    display: table;
    clear: both;
}
#main {
    color: cornsilk;
}
@media screen and (max-width:600px) {
    .content, .img {
      width: 100%;
    }
}