.introduction {
    /* background-color: rgb(79, 142, 145); */
    overflow: auto;
    /* border: 1px solid grey; */
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
img {
    width: 100%;
    height: auto;
}
.content {
    width: 58%;
    padding: 0.5%;
    /* background-color: cadetblue; */
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid grey;
    box-shadow: 5px 5px gray;
}
.img {
    width: 39%;
}
#main {
    color: black;
    font-weight: 700;
}
@media screen and (max-width:600px) {
    .introduction {
        flex-direction: column;
    }
    .content, .img {
      width: 100%;
    }
}