.heading {
    background-color:  rgb(63, 60, 60);
    top: 0;
    width: 100%;
}
.heading a {
    display: inline-block;
    padding: 14px 40px;
    color: whitesmoke;
    text-align: center;
    font-size: 125%;
    font-weight: 700;
    text-decoration: none;
}
.heading a:hover {
    background-color: rgb(49, 54, 42);
}
.active {
    background-color: black;
}
#contact {
    float: right;
}
.heading::after {
    content: '';
    clear: both;
    display: table;
}
